extends _layout.pug

block locals 
  - var title = 'index.pug site load'

block content
  h1 Hello,World! っっb
  div#react-root
  div#vue-root
  img(src="../images/markus-spiske-j4Cz8SZdJ3U-unsplash.jpg")

