extends _layout.pug

block locals 
  - var title = 'index.pug site load'

block content
  h1 Test Site!!!!
  div#react-root
  div#vue-root
  .img_warp
    img(src="../images/markus-spiske-j4Cz8SZdJ3U-unsplash.jpg").test
    img(src="../images/markus-spiske-j4Cz8SZdJ3U-unsplash.jpg").test

